---
import SocialPills from './socialPills.astro'

import Tailwind from './icons/Tailwind.astro'
import Astro from './icons/Astro.astro'
import React from './icons/React.astro'
import Nodejs from './icons/Nodejs.astro'
import Mongodb from './icons/Mongodb.astro'
import Github from './icons/github.astro'
import Link from './icons/Link.astro'
import Code from './icons/Code.astro'

export interface TagItem {
  name: string
  class: string
  icon: (options: any) => any
}

interface ProjectItem {
  title: string
  description: string
  link?: string
  code?: string
  image: string
  tags: TagItem[]
}

function generateColorClasses(baseColor: string): string {
  return `hover:${baseColor} dark:hover:${baseColor}`
}

const TAGS: Record<string, TagItem> = {
  TAILWIND: {
    name: 'Tailwind',
    class: 'hover:bg-blue-950 dark:hover:bg-blue-950',
    icon: Tailwind
  },
  ASTRO: {
    name: 'Astro',
    class: 'hover:bg-blue-950 dark:hover:bg-blue-950',
    icon: Astro
  },
  REACT: {
    name: 'React',
    class: 'hover:bg-sky-950 dark:hover:bg-sky-950',
    icon: React
  },
  NODEJS: {
    name: 'Node.js',
    class: 'hover:bg-emerald-950 dark:hover:bg-emerald-950',
    icon: Nodejs
  },
  MONGODB: {
    name: 'Mongodb',
    class: 'hover:bg-[#001E2B] dark:hover:bg-[#001E2B]',
    icon: Mongodb
  }
}

const PROJECTS: ProjectItem[] = [
  {
    title: 'Todo list contexto',
    description:
      'Desarrollé un Todo List con TailwindCSS, React, Node.js, MongoDB, TypeScript y Zustand para mi portafolio. Aprendí a integrar tecnologías frontend y backend, gestionar estados de forma eficiente y trabajar con bases de datos NoSQL. ¡Potencié mi habilidad en el desarrollo full-stack!',
    link: 'https://todolistcontexto.netlify.app/',
    image: '/projects/ProyectoTodolist.webp',
    tags: [TAGS.TAILWIND, TAGS.REACT, TAGS.NODEJS, TAGS.MONGODB]
  },
  {
    title: 'Fall of the gods',
    description:
      'Creé un juego de aventuras basado en la mitología griega con GDScript para el juego, y TailwindCSS y React para la página. Explora roles mitológicos en un mundo de pixel art 2D. Desarrollé habilidades en diseño de juegos y creación de interfaces web.',
    link: 'https://fallofthegods.netlify.app/',
    code: 'https://github.com/contexto01/Fall-of-the-gods',
    image: '/projects/FallOfTheGods.webp',
    tags: [TAGS.TAILWIND, TAGS.REACT]
  }
]
---

<section class="flex flex-col gap-8 lg:px-0 transition-all" id="proyectos">
  <h2 class="text-4xl font-extrabold mb-4 flex items-center gap-x-3 dark:text-white">
    <Code class="size-16" />Proyectos
  </h2>
  {
    PROJECTS.map(({ image, title, description, tags, link, code }) => {
      return (
        <article class="flex gap-8 flex-wrap sm:flex-nowrap justify-center">
          <div class="flex justify-center">
            <img
              alt="Recién llegado vs 5 años en Nueva Zelanda"
              class="object-cover object-center sm:w-full bg-center sm:h-full w-full bg-cover flex flex-col items-center transition duration-500 ease-in-out shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl grayscale hover:grayscale-0 hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>

          <section class="flex flex-col gap-4 w-[1500px]">
            <h3 class="text-3xl font-bold text-neutral-800 dark:text-neutral-200">{title}</h3>
            <ul class="flex gap-x-1 gap-y-1 flex-row flex-wrap">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs dark:hover:text-white  dark:bg-neutral-700 text-white bg-black ${tag.class} transition-all py-1 px-2 hover:cursor-default group`}
                    id="Tag"
                  >
                    <tag.icon
                      class="size-4 group-hover:grayscale-0 grayscale transition-all"
                      fill="currentColor"
                    />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>
            <p class="text-neutral-500 dark:text-neutral-400 text-pretty">{description}</p>
            <ul class="flex gap-x-2 flex-wrap">
              {link ? (
                <li>
                  <SocialPills href={link} padding="4px 12px">
                    <Link class="size-4" />
                    Preview
                  </SocialPills>
                </li>
              ) : null}
              {code ? (
                <li>
                  <SocialPills href={code} padding="4px 12px">
                    <Github class="size-4" />
                    Code
                  </SocialPills>
                </li>
              ) : null}
            </ul>
          </section>
        </article>
      )
    })
  }
</section>
